<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VS2017 + Webpack + TypeScript</title>
</head>
<body>
    @RenderBody()

    <script src="~/Build/index.js" type="text/javascript"></script>
</body>
</html>